<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.destvac.destinationvacctionation" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/destlogo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Speech"
            android:label="Speech"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".Poem"
            android:label="Poem"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".Contact"
            android:label ="Contact Us"
            android:screenOrientation="portrait">

        </activity>

    </application>

</manifest>
